body {
  font-family: "Inter", serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #374151;
  /* gray-700 */
  color: white;
  padding: 0.7rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* shadow-md */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 1.25rem;
  /* max-md:px-5 */
  max-width: 1200px;
  /* container width */
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  /* gap-1 */
}
.navbar-brand h1 {
  font-size: 1.2rem;
}

.navbar-logo {
  width: 3rem;
  /* w-12 */
}

.navbar-links {
  display: flex;
  gap: 2rem;
  /* space-x-8 */
}

.navbar-link {
  font-size: 1.125rem;
  /* text-lg */
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: white;
  background-color: transparent;
}

.navbar-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.navbar-menu-icon {
  display: none;
  /* hidden on larger screens */
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0;
  background-color: transparent;
  border: none;
  color: white;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-menu-icon {
    display: block;
  }
}

.navbar-drawer {
  width: 20rem;
  /* w-80 */
  height: 100%;
  background-color: #374151;
  /* gray-700 */
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  /* px-8 py-5 */
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  /* smooth transition */
}

.drawer-open {
  transform: translateX(0);
}

.drawer-closed {
  transform: translateX(100%);
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* gap-2 */
}

.drawer-logo {
  width: 3rem;
  /* w-12 */
}

.drawer-close {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.8rem;
}

.drawer-links {
  margin-top: 2rem;
  /* mt-8 */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* space-y-4 */
}

.drawer-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.drawer-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.drawer-header h1 {
  font-size: 1.2rem;
}

/* hero section  */
.hero-section {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 0;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.hero-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}

.hero-title {
  font-size: 2.25rem;
  /* 4xl */
  font-weight: 700;
  /* Bold */
  color: #292524;
  margin: 0;
  /* Neutral-800 */
}

.hero-subtitle {
  font-size: 1.125rem;
  margin: 0;
  /* lg */
}

.hero-button {
  padding: 0.7rem 1rem;
  /* px-4 py-2 */
  font-size: 1.125rem;
  /* lg */
  font-weight: 600;
  width: fit-content;
  /* Semi-bold */
  color: #292524;
  /* Neutral-900 */
  border: 2px solid #292524;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  border-radius: 0.375rem;
  margin-top: 0.5rem;
  /* Rounded-md */
}

.hero-button:hover {
  background-color: #292524;
  /* Neutral-900 */
  color: #fff;
  /* White */
}

/* service sectin  */
/* General Section Styles */
#services {
  padding: 5rem 1rem;
  background-color: #f3f4f6;
  /* Tailwind: bg-gray-100 */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h4 {
  font-size: 1.875rem;
  /* Tailwind: text-3xl */
  font-weight: 600;
  /* Tailwind: font-semibold */
  margin-bottom: 2rem;
  /* Tailwind: mb-8 */
  color: #1a202c;
  /* Tailwind: text-neutral-800 */
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Tailwind: md:grid-cols-3 */
  gap: 2rem;
  /* Tailwind: gap-8 */
}

.max-md\\:px-5 {
  padding-left: 1.25rem;
  /* Tailwind: px-5 */
  padding-right: 1.25rem;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Card Styles */
.card {
  background-color: #ffffff;
  /* Tailwind: bg-white */
  padding: 1.5rem;
  /* Tailwind: p-6 */
  border-radius: 0.75rem;
  /* Tailwind: rounded-xl */
  border: 1px solid #1a202c;
  /* Tailwind: border border-neutral-800 */
}

.card img {
  width: 100%;
  /* Tailwind: w-full */
  height: 16rem;
  /* Tailwind: h-64 */
  object-fit: cover;
  /* Tailwind: object-cover */
  border-radius: 0.75rem;
  /* Tailwind: rounded-xl */
}

.card h3 {
  font-size: 1.5rem;
  /* Tailwind: text-2xl */
  margin-top: 1rem;
  /* Tailwind: mt-4 */
}

.card p {
  margin-top: 0.5rem;
  /* Tailwind: mt-2 */
  font-size: 1.125rem;
  /* Tailwind: text-lg */
}

/* about section  */
/* styles.css */

.about-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: white;
}

.about-container {
  margin: 0 auto;
  padding-left: 1.25rem;
  /* Equivalent to max-sm:px-5 */
  padding-right: 1.25rem;
  /* Equivalent to max-sm:px-5 */
}

.about-title {
  font-size: 1.875rem;
  /* Equivalent to text-3xl */
  font-weight: 600;
  /* Equivalent to font-semibold */
  color: #1f2937;
  /* Equivalent to text-neutral-800 */
  margin-bottom: 2rem;
  /* Equivalent to mb-8 */
}

.about-description {
  font-size: 1.125rem;
  /* Equivalent to text-lg */
  max-width: 42rem;
  /* Equivalent to max-w-2xl */
  margin: 0 auto;
}

.about-details {
  width: 100%;
  margin-top: 1.25rem;
  /* Equivalent to mt-5 */
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  /* Equivalent to gap-2 */
}

.contact-label {
  font-weight: 600;
  /* Equivalent to font-semibold */
  font-size: 1.125rem;
  color: #2d3748;
  /* Equivalent to text-lg */
}

.contact-number > a {
  font-size: 1.125rem;
  color: #2d3748;
  text-decoration: none;
  font-weight: 600;
  /* Equivalent to text-lg */
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 2.5rem;
  /* Equivalent to mt-10 */
}

@media (max-width: 640px) {
  .about-container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .stats {
    flex-direction: column;
    gap: 2rem;
    /* Equivalent to gap-8 */
    padding-left: 1.25rem;
    /* Equivalent to max-sm:px-5 */
    padding-right: 1.25rem;
    /* Equivalent to max-sm:px-5 */
  }
}

/* Gallery section  */
/* Gallery Section Styles */
.gallery-section {
  padding: 5rem 0;
  background-color: #f7fafc;
  /* bg-gray-100 */
}

.gallery-section .container {
  text-align: center;
}

.gallery-section h2 {
  font-size: 1.875rem;
  /* text-3xl */
  font-weight: 600;
  /* font-semibold */
  color: #2d3748;
  /* text-neutral-700 */
  margin-bottom: 1.25rem;
  /* mb-5 */
}

.gallery-section p {
  color: #2d3748;
  /* text-neutral-600 */
  margin-bottom: 2rem;
  /* mb-8 */
  width: 75%;
  font-size: 1.1rem;
  /* w-3/4 */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  /* px-5 */
  padding-right: 1.25rem;
  /* px-5 */
}

.gallery-section .tabs {
  margin-bottom: 2rem;
  /* mb-8 */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  /* gap-3 */
}

.gallery-section .tab-button {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  /* px-5 py-2 */
  border-radius: 0.5rem;
  /* rounded-lg */
  border: 1px solid #2d3748;
  /* border-neutral-800 */
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.gallery-section .tab-button.active {
  background-color: #2d3748;
  /* bg-neutral-800 */
  color: white;
  border-color: #2d3748;
  /* border-neutral-800 */
}

.gallery-section .tab-button:hover {
  background-color: #2d3748;
  /* bg-neutral-800 */
  color: white;
}

.gallery-section .projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* md:grid-cols-3 */
  gap: 2rem;
  /* gap-8 */
  padding-left: 1.25rem;
  /* px-5 */
  padding-right: 1.25rem;
  /* px-5 */
  opacity: 1;
  transition: opacity 0.3s;
}

.gallery-section .projects.transitioning {
  opacity: 0;
}

.gallery-section .project-card {
  background-color: white;
  padding: 1.5rem;
  /* p-6 */
  border-radius: 1rem;
  /* rounded-xl */
  border: 1px solid #2d3748;
  /* border-neutral-800 */
  cursor: pointer;
  transition: transform 0.3s;
}

.gallery-section .project-card:hover {
  transform: translateY(-0.375rem);
  /* hover:-translate-y-1.5 */
}

.gallery-section .project-img {
  width: 100%;
  height: 16rem;
  /* h-64 */
  object-fit: cover;
  border-radius: 1rem;
  /* rounded-xl */
}

.gallery-section .view-more-btn {
  margin-top: 2rem;
  /* mt-8 */
  padding: 0.75rem 1.5rem;
  /* px-6 py-3 */
  background-color: #2d3748;
  border: none;
  /* bg-neutral-800 */
  color: white;
  font-weight: 600;
  /* font-semibold */
  border-radius: 0.5rem;
  font-size: 1rem;
  /* rounded-lg */
  cursor: pointer;
  transition: background-color 0.3s;
}

.gallery-section .view-more-btn:hover {
  background-color: #4a5568;
  /* hover:bg-neutral-700 */
}

@media (max-width: 640px) {
  .gallery-section p {
    width: fit-content;
  }
  .gallery-section .projects {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media (max-width: 850px) {
  .gallery-section .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* contact section */

.contact-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}

.contact-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.contact-heading {
  font-size: 1.875rem;
  font-weight: 600;
  color: #2d3748;
  margin-bottom: 2rem;
}

.contact-form {
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-input,
.contact-textarea,
.contact-button {
  padding: 1rem;
  border: 1px solid #e2e8f0;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.contact-textarea {
  height: 8rem;
  resize: none;
}

.contact-button {
  padding: 1rem;
  background-color: #1a202c;
  color: #ffffff;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #2d3748;
}

.contact-button:disabled {
  cursor: not-allowed;
}

/* styles.css */

.about-details .stats {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0rem 1rem;
}

/* Container styles */
.counter-up-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background-color: #f3f4f6; /* bg-gray-100 */
  padding: 1.5rem;
  border-radius: 0.75rem;
  width: 100%;
}

/* Heading styles */
.counter-up-heading {
  font-size: 2.25rem; /* text-4xl */
  font-weight: 700; /* font-bold */
  color: #2d3748; /* text-neutral-700 */
  margin: 0;
}

/* Label styles */
.counter-up-label {
  color: #4b5563; /* text-gray-600 */
  font-size: 1.125rem; /* text-lg */
  margin: 0;
}

/* Custom CSS for Footer */
.footer {
  background-color: #1f2937; /* bg-gray-900 */
  color: white; /* text-white */
  padding: 0.3rem 0; /* py-5 (16px) */
}

.footer .container {
  max-width: 100%; /* container mx-auto */
  margin-left: auto;
  margin-right: auto;
  text-align: center; /* text-center */
}
